@font-face {
    font-family: 'ds-digitalnormal';
    src: url('fonts/ds-digi-webfont.eot');
    src: url('fonts/ds-digi-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ds-digi-webfont.woff') format('woff'),
         url('fonts/ds-digi-webfont.ttf') format('truetype'),
         url('fonts/ds-digi-webfont.svg#ds-digitalnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'ds-digitalnormal', Arial, sans-serif;
  font-size: 36px;
}

p { font-family: 'ds-digitalnormal', Arial, sans-serif; }

#controls {
	height: 200px;
	width: 500px;
	position: relative;
  background: #000;
  color:#fff;
}

#scaleOutput {
	position: absolute;
	width: 100px;
	left:20%;
	top:5%;
	display: block;
  font-size: 240%;
  text-align: right;
}

#scaleSlider {
	position: absolute;
	width: 200px;
	top:32%;
  left: 5%;
}

#upButton {
	position: absolute;
	left:45%;
}
.button {
	position: absolute;
	left:45%;
	width: 66px;
}
#downButton {
	top:10%;
}
#powerButton {
	top:20%;
}
#toggleSlider {
	width: 37px;
	position: absolute;
	top: 30%;
}
#buttons {
	width: 100px;
	height:300px;
	font:50%;
	position: absolute;
	left: 42%;
}

#timeUnits {
	font-size: 100%;
  position: absolute;
  left: 41%;
  top: 13%;
}
input[type=range] {
    -webkit-appearance: none;
    background-color: silver;
    width: 200px;
    height:20px;
}

.button
{
  border: 1px solid #777777;
  background: #BADA55;
  color: white;
  font: bold 11px 'Trebuchet MS';
  padding: 4px;
  cursor: pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/*input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #666;
    opacity: 1;
    width: 20px;
    height: 26px;
}*/


input[type="range"]{
  -webkit-appearance:none;
  width:200px;
  height:2px;
  background: aqua;
  background-position:center;
  background-repeat:no-repeat;
  position: absolute;
  margin: auto;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border-radius: 100%;
  background: #434343;
  position:relative;
  border: 3px solid aquamarine;
  z-index:3;
  cursor: pointer;
}

*:focus {
    outline: none;
}

/*.ui-slider-track {
	margin: 79px 19px 0 19px;
}*/