#controls {
	height: 200px;
	width: 500px;
	position: relative;
}

#scaleOutput {
	position: absolute;
	width: 100px;
	left:20%;
	top:5%;
	display: block;
}

#scaleSlider {
	position: absolute;
	width: 200px;
	top:20%;
}

#upButton {
	position: absolute;
	left:45%;
}
.button {
	position: absolute;
	left:45%;
	width: 66px;
}
#downButton {
	top:10%;
}
#powerButton {
	top:20%;
}
#toggleSlider {
	width: 37px;
	position: absolute;
	top: 30%;
}
#buttons {
	width: 100px;
	height:300px;
	font:50%;
	position: absolute;
	left: 42%;
}

#time-units {
	position: absolute;
	top:43%;
}

/*.ui-slider-track {
	margin: 79px 19px 0 19px;
}*/