@font-face {
    font-family: 'ds-digitalnormal';
    src: url('fonts/ds-digi-webfont.eot');
    src: url('fonts/ds-digi-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ds-digi-webfont.woff') format('woff'),
         url('fonts/ds-digi-webfont.ttf') format('truetype'),
         url('fonts/ds-digi-webfont.svg#ds-digitalnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'ds-digitalnormal', Arial, sans-serif;
  font-size: 36px;
}

canvas {
  position: absolute;
  top:-26%;
  left:-10%
}

p { font-family: 'ds-digitalnormal', Arial, sans-serif; }

#container {
  width:900px;
  height:900px;
  padding:50px;
  background-color: #282828;
}
#widget {
	height: 98px;
	width: 257px;
  padding: 24px;
	position: relative;
  background: #313131;
  background: url('texture.png');
  color:#fff;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: inset 0 0 2px #111, 0 -1px 1px #72797a, -2px 0 1px #111, 1px 0 2px #111, 2px 0 2px #111;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #97FFFF, 0 0 40px #97FFFF, 0 0 70px #97FFFF, 0 0 80px #97FFFF;
}

#display-box {
  height: 63px;
  width: 190px;
  background-color: #000;
  box-shadow: inset 0 0 7px #111, 0 -1px 2px #222, 0 2px 3px #72797a, -2px 0 5px #111, 2px 0 5px #111;
  position: absolute;
  border-radius: 3px;
}
.output {
  position: absolute;
  width: 70px;
  height: 63px;
  left: 35%;

  top: 17%;
  display: block;
  
  text-align: right;

}
#power-off-display {
  display:none;
  font-size: 126%;
  width:58%;
  left: 34%;
  top: 46%;
}
#scaleOutput {
  font-size: 270%;
}

#timeUnits {
  font-size: 126%;
  position: absolute;
  left: 79%;
  top: 46%;
}

#scaleSlider {
	position: absolute;
	width: 166px;
  height: 7px;
	top:71%;
  left: 39%;
  background: #000);
}

#toggleSlider {
  width: 37px;
  position: absolute;
  top: 30%;
}




#upButton {
  float:left;
}
.arrow {
  position: absolute;
  top:24%;

  width: 0px;
  height: 0px;
}
.arrow-up {
  left:78.5%;
  
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  
  border-bottom: 4px solid #fff;
}

.arrow-down {
  left:87.4%;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
 }

#downButton {
  float:right;
}
#powerButton {
  width: 47px;
  height:22px;
  font-size: 20%;
  text-align: right;
  font-size: 40%;
  color: #9A9A9A;
  background: #686868; /* Old browsers */
  background: -moz-linear-gradient(top, #686868 0%, #3c3d3c 47%, #161616 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#686868), color-stop(47%,#3c3d3c), color-stop(100%,#161616)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #686868 0%,#3c3d3c 47%,#161616 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #686868 0%,#3c3d3c 47%,#161616 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #686868 0%,#3c3d3c 47%,#161616 100%); /* IE10+ */
  background: linear-gradient(to bottom, #686868 0%,#3c3d3c 47%,#161616 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#686868', endColorstr='#161616',GradientType=0 ); /* IE6-9 */
}


.power-button {
 margin-top:7px;
}

.up-down-buttons {
}


.control-buttons {
	width: 47px;
	height:22px;
  padding:3px;
  margin-left: 206px;
  background-color: #333;
  box-shadow: inset 0 0 7px #111, 0 -1px 2px #222, 0 2px 1px #72797a, -2px 0 5px #111, 2px 0 5px #111;
  border-radius: 3px;
  background: #686868; /* Old browsers */
  background: -moz-linear-gradient(top, #686868 0%, #3c3d3c 47%, #161616 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#686868), color-stop(47%,#3c3d3c), color-stop(100%,#161616)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #686868 0%,#3c3d3c 47%,#161616 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #686868 0%,#3c3d3c 47%,#161616 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #686868 0%,#3c3d3c 47%,#161616 100%); /* IE10+ */
  background: linear-gradient(to bottom, #686868 0%,#3c3d3c 47%,#161616 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#686868', endColorstr='#161616',GradientType=0 ); /* IE6-9 */
  }
  /*float: right;*/
	/*font:50%;*/
	/*position: absolute;
	left: 42%;*/
}

#on-button {
  position: absolute;
  left:79%;
  top:46.5%;
  height:10px;
  width:10px;
  border-radius: 100%;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #97FFFF;
  box-shadow: inset 0 0 7px #000, 0 -1px 2px #000, 0 2px 3px #000, -2px 0 5px #111, 2px 0 5px #000;
}

.blue-button {
  /*background: #97FFFF;*/
  background: #9AD3DF;
  position: absolute;
  left:79.2%;
  top:48%;
  height:8px;
  width:8px;
  border-radius: 100%;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #97FFFF;
  box-shadow: inset 0 0 1px #fff, 0 -1px 2px #222, 0 2px 2px #222, -2px 0 2px #222, 2px 0 2px #222;
}

.white-button {
 background: #fff;
  position: absolute;
  left:79.2%;
  top:48%;
  height:8px;
  width:8px;
  border-radius: 100%;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #97FFFF;
  box-shadow: inset 0 0 1px #fff, 0 -1px 2px #222, 0 2px 2px #222, -2px 0 2px #222, 2px 0 2px #222;
}



/*input[type=range] {
    -webkit-appearance: none;
    background-color: silver;
    width: 200px;
    height:20px;
}*/

.button {
  border: 1px solid #777777;
  /*background: #BADA55;*/
  border:none;
  outline:none;
  color: white;
  padding: 5px;
  height: 10px;
  width: 10px;
  cursor: pointer;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: inset 0 0 4px #111, 0 -1px 0px #848a8b, 0 2px 3px #111, -2px 0 5px #333, 2px 0 5px #333;
}



/*input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #666;
    opacity: 1;
    width: 20px;
    height: 26px;
}*/


input[type="range"]{
  -webkit-appearance:none;
  width:200px;
  height:5px;
  border-radius: 15px;
  background: #000;
  background-position:center;
  background-repeat:no-repeat;
  position: absolute;
  margin: auto;
  box-shadow: inset 0 0 7px #111, 0 -1px 2px #222, 0 1px 0px #72797a, -2px 0 5px #111, 2px 0 5px #111;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance:none;
  width:14px;
  height:14px;
  border-radius: 100%;
  /*background: #434343;*/
  position:relative;
  /*border: 3px solid aquamarine;*/
  /*background: #fff;*/
  z-index:3;
  cursor: pointer;       
  background-image: url("slider-knob.png");  
  background-position: 0px, 0px;
}

input:focus {
  outline: none;
}

#circle-glow {
  border-radius: 100%;
  border: 1px solid #fff;
  height: 25px;
  width: 25px;
  position: absolute;
  top: 28.1%;
  left: 8.3%;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 20px #97FFFF;
}




/*.ui-slider-track {
	margin: 79px 19px 0 19px;
}*/